<h3>About Me</h3>

<div class="row z-depth-3">
	<div class="col m6">
	</div>
	<div class="col m6">
		<div class="card-panel grey lighten-5 z-depth-1">
			<div class="row valign-wrapper">
				<div class="col m5">
					<%= image_tag "avatar.png", class: "circle reponsive-img" %>
				</div>
				<div class="col m7">
					<span class="black-text">
						Who makes you! and what makes you.
					</span>
				</div>
			</div>
		</div>
	</div>
</div>